@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
  box-sizing: border-box;
}
body{
    margin:0;
}
nav {
    min-width:1em; 
}
nav ul{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:0;
    background: green;
}
nav ul li{
    margin:0ch 6ch 2ch 6ch;
    padding-right:4em;
    list-style:none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 18px;
    padding-top:1em;
    padding-bottom: 5em;
}
.logo a{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    position:fixed;
}
main li a {
    position:fixed;
    text-decoration:none;
    font-family: Open Sans;
    color: white;

}
nav a:hover{
    color:orange;
}
a:active {
    background-color: yellow;
  }
.hero {
    background-image:url('/assets/bg.jpg'); 
    width:100vw;
    height:100vh;
    background-position:center;
    background-size: cover;
}

h1 {
    margin-top:0 ;
    margin-right: 2vw;
    height:5vw;
    font-family: 'Exo', sans-serif;
    font-size: 4em;
    color:whitesmoke;
    text-align: center;
}
.about {
    background-color:#b9936c;
    min-width: 23em;
    width:100vw;
}
.about h1 {
    color: black;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    letter-spacing: .15em; 
}
p {
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    margin-bottom:0;
}
.content {
    background-color: #dac292;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    justify-content: center;   
}
.content h1{
    color: black;
    font-family: 'Exo', sans-serif;
    grid-column: 1/-1;
}     
figure {
    background-color: #e6e2d3;
    border: 1px solid black;
    border-radius:5px;
}

img {
    width: 100%;
}
figcaption {
    font-family: 'Exo', sans-serif;
    padding: 1rem;
}
.form {
    background-color:rgb(205, 236, 91);
    width:100vw;
    min-width: 23em;
}
fieldset>h1 {
    color: black;
    font-family: 'Exo', sans-serif;
}
label {
    display: grid;
    font-family: 'Ropa Sans', sans-serif;
    font-variant: small-caps;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 1.5em;
}
input { 
	width: 80%; 
    margin-bottom: 5px;
    margin-left: 35px; 
	border: 1px solid black;
    padding: 8px;
    border-radius: 4px; 
}
textarea{
    width: 80%; 
    margin-bottom: 5px;
    margin-left: 35px; 
	border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    height: 25vh;
}
.social {
    display:flex;
    /* justify-content: space-around; */
    padding: .5em;
    margin:auto;
    justify-content: center;
}
.social i{
    font-size: 2.5rem;
     justify-content: space-between;
}