@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
  box-sizing: border-box;
}
body{
    margin:0;
}
nav {
    width:100vw;
    height: 10vh;
    background-image: url('/assets/navbg.jpg');
}
nav ul{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0;
    
}
nav ul li{
    margin:0ch 6ch 2ch 6ch;
    padding-right:4em;
    list-style:none;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 18px;
    padding-top:1em;
}
.logo a{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    position:fixed;
}
nav li a {
    position:fixed;
    text-decoration:none;
    font-family: Open Sans;
    color: white;

}
nav a:hover{
    color:orange;
}
a:active {
    background-color: yellow;
  }
.hero {
    background-image:url('/assets/bg.jpg'); 
    width:100vw;
    height:85vh;
    background-position:center;
    background-size: cover;
}
.hero h1{
    padding-top: 200px;
}
h1 {
    margin:auto;
    font-family: 'Exo', sans-serif;
    font-size: 4em;
    color:whitesmoke;
    text-align: center;
}
.about {
    background-image: url('/assets/aboutbg.jpg');
    width:100vw;
    height: 85vh;
}
.about h1 {
    color: black;
    font-family: 'Exo', sans-serif;
    font-variant: small-caps;
    letter-spacing: .15em; 
}
p {
    font-size: 2em;
    font-family: 'Exo', sans-serif;
    margin:50px;
}
.content {
    background-image: url('/assets/projectsbg.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    justify-content: center;   
}
.content h1{
    color: black;
    font-family: 'Exo', sans-serif;
    grid-column: 1/-1;
}     
figure {
    background-color: #e6e2d3;
    border: 1px solid black;
    border-radius:5px;
}

img {
    width: 100%;
}
figcaption {
    font-family: 'Exo', sans-serif;
    padding: 1rem;
}
.form {
    background-image: url('/assets/contactbg.jpg');
    background-repeat: no-;
    background-size: cover;
    width:100vw;
    height:85vh;

}
.form h1 {
    color: black;
    font-family: 'Exo', sans-serif;
}
label {
    display: grid;
    font-family: 'Ropa Sans', sans-serif;
    font-variant: small-caps;
    color: whitesmoke;
    font-size: 25px;
    margin-left: 400px;
}
input { 
	width: 50%; 
    margin-bottom: 5px;
    margin-left: 400px; 
	border: 1px solid black;
    padding: 8px;
    border-radius: 4px; 
}
textarea{
    width: 50%; 
    margin-bottom: 5px;
    margin-left: 400px; 
	border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
    height: 25vh;
}
.social {
    display:flex;
    padding: .5em;
    margin:auto;
    justify-content: center;
}
.social i{
    font-size: 2.5rem;
     justify-content: space-between;
}
footer {
    background-color: black;
    color: white;
    height: 5vh;
}